Input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

Button{
    background-color: #48b9ea;
    color: black;
    letter-spacing: 3px;
    font-weight: bold;
    padding:14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}
Button:hover{
    opacity: 0.8;
}

.login-page img {
    width: 50%;
    height: auto;
    max-width: 100px;
    margin: 0;
    padding: 0;
}
